@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item {
      @apply relative transition-all text-brown-dark after:absolute after:bottom-0 after:left-0 after:right-0 after:m-auto after:w-0 after:h-px after:bg-yellow-900 hover:after:w-full after:transition-all cursor-pointer text-2xl;
    }
    .title-style {
      @apply relative transition-all text-brown-dark after:absolute after:bottom-0 after:left-0 after:right-0 after:m-auto after:w-0 after:h-px after:bg-yellow-900/60 hover:after:w-full after:transition-all text-6xl;
    }
    .slider-item {
      @apply hover:bg-brown-light bg-brown-cookie p-3 rounded-md w-full text-xl transition-all cursor-pointer;
    }
}

* {
    font-family: 'Quicksand', sans-serif;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 0.65vw;
}

::-webkit-scrollbar-thumb {
  background-color: #976a50;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #805942;
}

::-webkit-scrollbar-track {
background-color: #e0a37f;
}