@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-item {
      @apply relative transition-all text-brown-dark after:absolute after:bottom-0 after:left-0 after:right-0 after:m-auto after:w-0 after:h-px after:bg-yellow-900 hover:after:w-full after:transition-all cursor-pointer text-2xl;
    }
    .title-style {
      @apply relative transition-all text-brown-dark after:absolute after:bottom-0 after:left-0 after:right-0 after:m-auto after:w-0 after:h-px after:bg-yellow-900/60 hover:after:w-full after:transition-all text-7xl;
    }
    .slider-item {
      @apply hover:bg-brown2 bg-brown p-3 rounded-md w-full text-xl transition-all cursor-pointer;
    }
}

* {
    font-family: 'Quicksand', sans-serif;
}

.initial-transition-bg {
  background-image: url("./assets/pattern-bg.webp");
}

.home-bg {
  background-image: url("./assets/pattern-bg.webp");
  backdrop-filter: blur(5px);
}

.atropos-shadow {
  left: -120px !important;
  height: 110% !important;
  width: 120% !important;
  background: #72553369 !important;
  filter: blur(50px) !important;
}

.blur-l-box {
  box-shadow: -20px 0 15px 20px #C39A6C;
}
.blur-r-box {
  box-shadow: 20px 0 15px 20px #C39A6C;
}

.blur-box {
  box-shadow: 0px 0 15px 20px #C39A6C;
}

.animation-left {
  animation: reveal-left cubic-bezier(0.65, 0, 0.55, 0) both 1.8s;
}

.animation-right {
  animation: reveal-right cubic-bezier(0.65, 0, 0.55, 0) both 1.8s;
}

@keyframes reveal-left {
  from {
    transform: translateX(-49.6vw);
    opacity: 1;
  }
  to {
    transform: translateX(-70vw);
   opacity: 0;
  }
}
@keyframes reveal-right {
  from {
    transform: translateX(49.6vw);
    opacity: 1;
  }
  to {
    transform: translateX(70vw);
   opacity: 0;
  }
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 0.65vw;
}

::-webkit-scrollbar-thumb {
  background-color: #613d29;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #523322;
}

::-webkit-scrollbar-track {
background-color: #a87d4d;
}